.form__checkbox {
  margin-bottom: 15px;
  text-align: center;
}

.form__checkbox-elem {
  display: none;
}

.form__checkbox-name {
  color: $white;
  position: relative;
  display: inline-block;
  cursor: pointer;
  padding-left: 25px;
  margin-right: 15px;
}

.form__checkbox-name:before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 10px;
  position: absolute;
  left:0;
  top:15%;
  bottom: 1px;
  background-color: $darkblue;

  @include phones {
    top: 5%;
  }
}

.form__checkbox-elem:checked + .form__checkbox-name:before {
  content: "\2714";
  font-size: 15px;
  font-weight: 900;
  color: $white;
  text-align: center;
  line-height: 15px;
}