extends ../main.layout.pug

block variables
    - var title = 'Обо мне'

block scripts
    script(src='blog.bundle.js')

block content
    include ./../_parts/_hidden-menu
    section.person.person_blog
        .person__picture.person__picture_blog
        -
            var socials = [
            ['vk', 'http://vk.com'],
            ['github', 'http://gh.com'],
            ['in', 'http://in.com']
            ]
        .person__links
            ul.socials
                each item in socials
                    li.socials__item
                        a(href= `${item[1]}`).socials__link
                            +icon(item[0], 'socials__link-icon')

        .person__menu
            a(href='#').hamburger

    .person__title-wrap
        .person__title.person__title_blog
            .person__bg
            .section-title.section-title_blog
                img(src='assets/images/content/avatar-140.jpg', alt='avatar').section-title__pic

            .user__description
                .user__blog Блог
                .user__blog-desc Сайты которые я написал

    section.blog
        .blog__triangles
        .blog__info
            .blog__menu
                ul.blog-menu__list
                    li.blog-menu__item
                        a.blog-link.blog-link_active(href="#sass") Самое важное в SASS
                    li.blog-menu__item
                        a.blog-link(href="#layout") Приёмы в вёрстке, без которых не обходится ни один сайт
                    li.blog-menu__item
                        a.blog-link(href="#gulp") Самый необходимый набор Gulp плагинов
                    //li.blog-menu__item
                    //    a.blog-link(href="#contact") Почему я выбрал Jade


            .blog__content
                .blog__item#sass
                    .blog__title
                        p Самое важное в SASS
                    .blog_date
                        p 22 ноября 2016
                    .blog__text
                        p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                        p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
                    img(src='assets/images/content/code.jpg', alt='code').blog__image

                .blog__item#layout
                    .blog__title
                        p Приёмы в вёрстке, без которых не обходится ни один сайт
                    .blog_date
                        p 22 ноября 2016
                    .blog__text
                        p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                        p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
                .blog__item#gulp
                    .blog__title
                        p Приёмы в вёрстке, без которых не обходится ни один сайт
                    .blog_date
                        p 22 ноября 2016
                    .blog__text
                        p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                        p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
    include ./../common/_footer
