.header
    ul.header__socials
        li.socials__item
            a.socials__vk(href='#')
        li.socials__item
            a.socials__github(href='#')
        li.socials__item
            a.socials__in(href='#')

    .header__menu