.hidden-menu
    .hidden-menu__right
    .hidden-menu__left
    .hidden-menu__close
        .close-icon
    ul.hidden-menu__list
        li.hidden-menu__item
            a(href='works.html').hidden-menu__link.hidden-menu__link_active Мои работы
        li.hidden-menu__item
            a(href='blog.html').hidden-menu__link Блог
        li.hidden-menu__item
            a(href='about.html').hidden-menu__link Обо мне
        li.hidden-menu__item
            a(href='index.html').hidden-menu__link Авторизоваться