.works {
  position: relative;
  width: 100vw;
  height: auto;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}

.works__triangles {
  position: relative;
  width: 100vw;
  height: 370px;

  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 70px;
   &:after{
     content:'';
     background: svg-load('bg.svg', fill=#0d1120, width= 100%, height= 100%) no-repeat center top;
     position: absolute;
     background-size: cover;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     z-index: 0;
     opacity: .8;
   }
  @include tablets {
    height: 270px;
    padding: 80px 0 50px 0;
  }
  @include phones {
    height: 200px;
    padding: 60px 0 40px 0;
  }

}

.about__left-title_portfolio {
  z-index: 1;
  &::before {
    opacity: .3;
  }

  @include tablets {
    &::before {
      content: '';
      position: absolute;
      background: svg-load('stars2.svg', fill= #dbe0e6, width= 168px, height= 106px) center center no-repeat;
      z-index: 0;
    }
  }

  @include phones {

    &::before {
      content: '';
      position: absolute;
      background: svg-load('stars2.svg', fill= #dbe0e6, width= 150px, height= 85px) center center no-repeat;
      z-index: 0;
    }
  }
}

.block-title_portfolio {
  color: $white;
  width: 400px;
  text-align: center;
  line-height: 1;
}

.works__wrapper {
  height: 800px;
  //min-height: 600px;
  width: 100vw;
  background: #f0efe9;
  display: grid;
  grid-template:
          "info display" 70%
          "info buttons" 30%
    / 1fr 1fr;

  @include tablets {
    height: auto;
    grid-template:
            "display" 400px
            "info" 300px
            "buttons" 250px
      / 1fr;

  }
}

.works__left {
  grid-area: info;
  display: flex;
  align-items: center;
  justify-content: center
}

.works__info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.block-subtitle_works {
  width: 70%;
  line-height: 1;
  margin-bottom: 50px;
  &:after {
    top: 60px;
  }

  @include notebook {
    width: 100%;
  }

  @include tablets {
    margin-bottom: 45px;
    &:after {
      top: 20px;
    }
  }

  @include tablets-mid {
    width: 90%;
    &:after {
      top: 60px;
    }
  }

  @include phones {
    font-size: 21px;
    line-height: 1.2;
    margin-bottom: 35px;
    &:after {
      top: 35px;
    }
  }

}


.works__tags {
  color: $blue;
  text-transform: uppercase;
  margin-bottom: 40px;

  @include tablets {
    margin-bottom: 25px;
  }

  @include phones {
    margin-bottom: 15px;
  }
}

.button-graphic {
  padding: 12px 20px;
  font-size: 16px;
  color: $white;
  cursor: pointer;
  border: 0;
  background: $blue;
  transition: background .5s ease-in-out;
  text-decoration: none;

  display: flex;
  
  &:hover {
    background: $darkblue;
  }
}

.button__icon {
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background: svg-load('link.svg', fill= $white, width= 20px, height= 20px) center center no-repeat;
}

.works__right {
  grid-area: display;
  background: #e3e2de;

  display: flex;
  justify-content: center;
  align-items: center;
}

.work__picture {
  width: 100%;
  height: auto;
  background: #e3e2de;
  position: relative;

  display: flex;
  justify-content: center;
  align-content: center;
  padding: 60px;

  @include tablets {
    padding: 35px;
  }
}

.work__img {
  max-width: 652px;
  max-height: 417px;
  width: 100%;
  height: 100%;
  display: block;
}

.work__buttons {
  width: 100%;
  height: auto;
  display: flex;
  grid-area: buttons;
  user-select: none;
}

.work-button__left, .work-button__right {
  width: 50%;
  height: auto;
  overflow: hidden;
  transition: background .5s ease;
  cursor: pointer;
  position: relative;
  user-select: none;
  padding: 20px;
  background: #afb0b8;

  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background: $dark;
  }

  @include tablets {
    padding: 15px;
  }
}


.work-button__pic {
  max-width: 352px;
  max-height: 225px;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  z-index: 0;
}

.work-button__arrow-up, .work-button__arrow-down {
  width: 100%;
  height: 100%;
  z-index: 1;
  background: svg-load('arrow_down.svg', fill= $white, width= 40px, height= 40px) center center no-repeat;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.work-button__arrow-up {
  background: svg-load('arrow_up.svg', fill= $white, width= 40px, height= 40px) center center no-repeat;
}
