.footer {
  color: $white;
  width: 100%;
  height: 200px;
  background: rgba(28,31,41,.8);

  margin-top: -200px;
  position: relative;
  z-index: 2;

  display: flex;
  flex-direction: column;

  @include tablets {
    height: 270px;
    margin-top: -270px;
  }

  @include tablets-mid {
    height: 330px;
    margin-top: -330px;
  }
}

.footer__desc {
  width: 100vw;
  height: 100%;
  background: rgba(28, 31, 41, 0.8);
}

.footer__col {
  display: flex;

  @include tablets {
    flex-direction: column;
  }
}

.footer__left {
  width: 30%;
  display: block;

  @include tablets {
    width: 100%;
    text-align: center;
  }
}

.footer__right {
  width: 70%;
  display: flex;

  @include tablets {
    width: 100%;
  }

  @include tablets-mid {
    flex-direction: column;
  }
}

.footer__info {
  padding: 30px;
  position: relative;

  &:after {
    content: '';
    width: 1px;
    height: 100px;
    background: rgba(255,255,255,0.4);
    position: absolute;
    right: 0;
    top: 34px;
  }

  @include tablets {
    &:after {
      content: '';
      width: 94%;
      height: 1px;
      top: 85%;
      left: 50%;
      transform: translate(-50%, -85%)
    }
  }
}

.footer__menu {
  display: block;
  width: 50%;
  padding: 30px;
  position: relative;

  &:after {
    content: '';
    width: 1px;
    height: 100px;
    background: rgba(255,255,255,0.4);
    position: absolute;
    right: 0;
    top: 34px;
  }

  @include notebook {
    width: 65%;
  }

  @include tablets {
    padding: 8px 0 8px 20px;
    width: 72%;

    &:after {
      opacity: 0;
    }
  }

  @include tablets-mid {
    width: 100%;
    padding: 0;
    text-align: center;
    margin-bottom: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:after {
      opacity: 1;
      content: '';
      width: 95%;
      height: 1px;
      top: 108%;
      left: 50%;
      transform: translate(-50%, -100%)
    }
  }
}

.footer-menu__list {
  display: flex;
  margin-bottom: 10px;
}

.footer-menu__link {
  color: $white;
  margin-right: 30px;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  @include tablets-mid {
    margin-right: 10px;
  }
}

.socials_footer {
  display: block;
  margin-top: 20px;

  @include notebook {
    margin-top: 40px;
  }

  @include tablets {
    margin-top: 15px;
  }

  @include tablets-mid {
    margin-top: 0;
  }
}

.footer__contacts {
  width: 50%;
  padding: 30px;

  @include notebook {
    width: 35%;
  }

  @include tablets {
    padding: 8px 20px 8px 0;
    text-align: right;
    width: 28%;
  }

  @include tablets-mid {
    padding: 0 20px 30px 0;
    width: 100%;
    text-align: center;
    display: block;
  }

}


.footer__end {
  background: $blue;
  width: 100%;
  height: auto;
  padding: 10px;
  display: block;
}

.footer__text {
  font-size: 16px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  text-align: center;

  @include tablets-mid {
    text-align: center;
    font-size: 14px;
  }
}
