.block-title {
  font-family: sansus, sans-serif;
  font-size: 62px;
  text-transform: uppercase;
  z-index: 1;
  line-height: 0.7;

  @include tablets {
    font-size: 48px;
  }

  @include tablets {
    font-size: 35px;
  }
}