.person {
  width: 100vw;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;

  @include tablets {
    height: 12%;
  }

  @include phones {
    height: 16%;
  }
}

.person__picture {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: url('/assets/images/bg/hero.jpg') no-repeat center center;
  background-size: cover;

  right: 0;
  bottom: 16%;

}

.person__links {
  width: 250px;
  height: 90px;

  position: absolute;
  top: 5%;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  @include phones {
    top: 0;
    height: 60px;
    padding: 10px;
  }
}

.socials {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.socials__item {
  width: 40px;
  height: 40px;
  margin-right: 25px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.socials__link-icon {
  display: block;
  width: 30px;
  height: 18px;
  fill: $white;

  &:hover {
    fill: $blue;
  }
}

.person__menu {
  width: 90px;
  height: 90px;
  position: absolute;
  top:0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  @include phones {
    width: 60px;
    height: 60px;
  }
}

.hamburger {
  width: 40px;
  height: 40px;
  background: svg-load('hamburger.svg', fill=$white) center center no-repeat;
  cursor: pointer;
  transition: opacity .5s ease;

  &:hover {
    background: svg-load('hamburger.svg', fill=$blue) center center no-repeat;
  }

  @include phones {
    width: 26px;
    height: 26px;
    background: svg-load('hamburger.svg', fill=$white, width= 26px, height= 26px) center center no-repeat;
  }
}

.hamburger_none {
  opacity: 0;
}

.person__title-wrap {
  position: relative;
  width: 100%;
  height: auto;
  //margin-top: 100px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.person__title {
  width: 440px;
  height: 270px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;

  @include phones {
    height: 220px;
    margin-bottom: 50px;
  }

  @include phones {
    margin-bottom: 125px;
  }
}

.person__bg {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  top: 0;
  left:0;
  background: svg-load('stars1.svg', fill= $white, width= 440px, height= 270px) center center no-repeat;
  opacity: .1;

  @include tablets {
    background: svg-load('stars1.svg', fill= $white, width= 280px, height= 172px) center center no-repeat;
    top: -15%;
  }
}

.section-title {
  position: relative;
  width: 140px;
  height: 140px;
  margin-bottom: 20px;
  overflow: hidden;
}

.section-title__pic {
  position: absolute;
  width: 140px;
  height: 140px;
  z-index: 2;
  border-radius: 50%;
}

.user__description {
  text-align: center;
}

.user__name {
  font-family: Roboto, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 35px;
  color: $white;
  @include phones {
    font-size: 21px;
  }
}

.user__info {
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 16px;
  color: $white;
}

.down-btn {
  display: block;
  width: 30px;
  height: 30px;
  background: svg-load('arrow_down.svg', fill=$white) center center no-repeat;
  opacity: .5;
  transition: opacity .5s ease;

  position: absolute;

  bottom: -40%;
  right: 50%;
  transform: translate(50%, -15%);

  z-index: 3;
  &:hover {
    opacity: 1;
  }

  @include tablets {
    bottom: -30%;
  }

  @include phones {
    bottom: -15%;
  }
}

